/* COMBINED GLOBAL STYLES FOR EDUVERSE */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@400;500&display=swap');

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --highlight-color: #ffd700;
  --hover-highlight: #f3c400;

  --font-size-s: 0.75rem;
  --font-size-n: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.7rem;
  --font-size-xxxl: 2rem;
  --font-size-4xl: 2.5rem;
  --font-size-5xl: 3rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  --site-max-width: 1300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--white-color);
}

img {
  width: 100%;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1;
  overflow: auto;
}

.section-content {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 20px;
}

footer {
  height: auto;
  padding: 3px;
  text-align: center;
  background-color: var(--highlight-color);
  color: black;
  font-size: var(--font-size-m);
  box-shadow: 0 -5px 15px var(--highlight-color);
}

/* Navbar */
header {
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--highlight-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid black;
}

.logo-text {
  color: black;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

.navbar .nav-item .nav-link {
  padding: 7px 15px;
  color: black;
  border-radius: var(--border-radius-m);
  font-size: var(--font-size-m);
  font-weight: bold;
}

.navbar .nav-item .nav-link:hover {
  background: black;
  color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
  box-shadow: 0 0 30px black;
}

.nav-link.active {
  background-color: var(--highlight-color);
  color: black;
  font-weight: var(--font-weight-bold);
  border: 2px solid black;
  box-shadow: 0 0 15px var(--highlight-color), 0 0 30px var(--highlight-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}

/* Hero Section */
.hero-section {
  min-height: 100vh;
  background: var(--black-color);
  overflow: hidden;
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
  justify-content: space-between;
}

.hero-section .hero-detalis .title {
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
  color: var(--highlight-color);
  text-shadow: 0 0 10px var(--hover-highlight);
}

.hero-section .hero-detalis .subtitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  margin-top: 9px;
  max-width: 85%;
}

.hero-section .hero-detalis .description {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
  max-width: 85%;
  margin: 24px 0 40px;
  background: rgba(255, 255, 255, 0.03);
  padding: 15px 20px;
  border-left: 4px solid var(--highlight-color);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--highlight-color);
}

.hero-section .hero-image-wrapper {
  max-width: 500px;
  margin-right: 30px;
  margin-top: 30px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
}

.hero-section .hero-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
  border-radius: var(--border-radius-m);
  border: 2px solid var(--highlight-color);
  box-shadow: 0 0 25px var(--highlight-color);
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white);
  transition: filter 0.3s ease;
}

.hero-section .hero-image:hover {
  filter: drop-shadow(0 0 25px white) drop-shadow(0 0 40px white);
}

.hero-section .hero-detalis .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  margin: 24px 0 40px;
}

.hero-section .hero-detalis .button {
  background: var(--highlight-color);
  color: black;
  border-radius: 300px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  padding: 10px 20px;
  transition: 0.3s;
  box-shadow: 0 0 25px var(--highlight-color);
}

.hero-section .hero-detalis .button:hover {
  background: black;
  color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
  box-shadow: 0 0 30px white;
}

@media screen and (max-width: 900px) {
    .navbar .nav-menu {
      position: fixed;
      left: -300px;
      top: 0;
      width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
      background: var(--black-color);
      transition: left 0.2s ease;
    }
  
    body.show-mobile-menu header::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.2);
    }
  
    body.show-mobile-menu .navbar .nav-menu {
      left: 0;
    }
  
    .navbar .nav-menu .nav-link {
      display: block;
      font-size: var(--font-size-l);
      margin-top: 50px;
      border: 2px solid var(--highlight-color);
      background: black;
      color: var(--highlight-color);
    }
  
    .navbar :where(#menu-open-button, #menu-close-button) {
      display: block;
      font-size: var(--font-size-xl);
      background-color: var(--highlight-color);
      color: black;
      padding: 10px;
      border-radius: var(--border-radius-s);
      box-shadow: 0 0 10px black;
      z-index: 999;
    }
  
    #menu-open-button {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  
    #menu-close-button {
      position: absolute;
      top: 30px;
      right: 30px;
    }
  
    .hero-section .section-content {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      padding: 160px 20px 40px;
      gap: 50px;
    }
  
    .hero-section .hero-detalis :is(.title, .subtitle, .description) {
      max-width: 100%;
      text-align: center;
    }
  
    .hero-section .hero-detalis .title {
      font-size: 2rem;
    }
  
    .hero-section .hero-detalis .subtitle,
    .hero-section .hero-detalis .description {
      font-size: 1rem;
    }
  
    .hero-section .hero-detalis .buttons {
      justify-content: center;
    }
  
    .hero-section .hero-detalis .button {
      font-size: 0.8rem;
      padding: 8px 16px;
    }
  
    .hero-section .hero-image-wrapper {
      max-width: 270px;
      margin: 0 auto;
    }
  
    .hero-section .hero-image {
      width: 270px;
      height: auto;
    }
  
    .navbar .nav-menu .nav-link.active {
      background-color: var(--highlight-color);
      color: black;
      border: 2px solid black;
      box-shadow: 0 0 15px var(--highlight-color), 0 0 30px var(--highlight-color);
    }
  }
  

